body {
  background-color: white;
}

h1, h2 {
  color: navy;
  text-align: center;
}

.image {
    max-width: 250px;
}

.bookouter {
    display: inline;
}

.bookinner {
    display: inline-grid;
}

#menu {
    font-size: 25px;
    margin-right: 25px;
}

#introtext, #homeimg, #booksbody {
    text-align: center;
}
