body {
  background-color: white;
}

h1, h2 {
  color: navy;
  text-align: center;
}

.image {
    max-height: 385px;
}

.bookouter {
    display: inline;
    margin: 50px;
}

.bookinner {
    display: inline-grid;
    max-width: 250px;
}

#menu {
    font-size: 25px;
    margin-bottom: 35px;
}

#menu > a {
    margin-right: 25px;
}

#introtext, #homeimg, #booksbody {
    text-align: center;
}

#aboutinfo {
    float: left;
    margin-right: 50px;
    width: 250px;
}

