/*html {
  height: 100%;
}*/

body {
  min-height: 100%;
  margin: auto;
  background-image: linear-gradient(to bottom right, white, gray);
}

h1, h2 {
  text-align: center;
}

.image {
    max-height: 385px;
}

.bookouter {
    display: inline;
    margin: 50px;
}

.bookinner {
    display: inline-grid;
    max-width: 250px;
}

.curpage {
    font-weight: bold;
}

#menu {
    font-size: 25px;
    margin-bottom: 35px;
    background-color: #a60000;
    padding: 20px;
}

#menu > a, .curpage {
    margin-right: 25px;
    color: #e6e6e6;
}

#introtext, #homeimg, #booksbody {
    text-align: center;
    font-size: large;
}

#aboutinfo {
    float: left;
    margin-left: 50px;
    width: 500px;
}

#aboutimg {
    float: left;
}

